// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#background{
    background-image: url('/storage/uploads/fundi.png');
    background-repeat: repeat-y;
}

#play{
    background-image: url('/storage/css/Polygon 1.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 40%;
}