// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#background{
    background-image: url('/storage/uploads/fundi.jpg');
    background-repeat: repeat;
}

#play{
    background-image: url('/storage/css/Polygon 1.png');
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    margin-left: 40%;
}

[class*=icheck-]>input:first-child+label::before {
    background-color: white;
    border-color: #2e6da4;
}

.album-title{
    font-size: 42px;
    font-weight: bold;
}

.track-bg:nth-child(even) {
    background-color: #D9D9D9;
}
.\.track-bg\:nth-child\(even\).track-bg {
    background-color: #D9D9D9;
}

.w100 {
    width: 100%;
}
.album {
    background-color: #DAC7BC;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 21px;
    font-size: small;
}

.criatura-label {
    background-color: #DABFBC;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 21px;
    font-size: small;
}


.card.mr-0 {
    padding: 8px;
    min-width: 268px;
    min-height: 500px;
    margin-top: 15px;
}

.card-body{
  padding:0px;
  margin-top: 10px;
}

.card-body div {
    display: inline-block;
}

p.card-text {
    display: inline-table;
}

.left{
  width: 48%;
  float:left;
}

.card-footer {
    margin-top: 16px;
    background-color: white;
    padding: 0;
    border: 0;
}
h5{
  margin: 0!important;
  padding:0!important;
  font-size: 25px;
  font-weight: 800;
}
.right {
    width: 48%;
    float: right;
    text-align: right;
}
.left70{
  width: 70%;
  float: left;
}
.right30{
  width: 30%;
  float: right;
  text-align: right;
}

.card-body div span {
    font-size: small;
    color: #B23939;
    font-weight: 700;
}

.card-footer div a {
    color: black;
    font-size: small;
    font-weight: 600;
}

.card-warning{
  background-size: cover;
  min-height: 400px;
  background-repeat: no-repeat;
  background-image:url('/storage/uploads/bck_warning.jpg');
}

.card-news{
  background-color:white;
}

.card-warning label {
    background-color: white;
    width: fit-content;
    padding-right: 2px;
    color: #b43f3f;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 2px;
}

.card-news label {
    background-color: white;
    width: fit-content;
    padding-right: 2px;
    color: #b43f3f;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 2px;
}
.card-news p {
  font-size: x-large;
  font-weight: bolder;
  line-height: 30px;;
}
.card-warning p {
  font-size: x-large;
  font-weight: bolder;
  line-height: 30px;;
}

.w100 audio {
    width: 100%;
}

label{
  font-family: 'Nunito';
  margin: 5px 0 5px 0;
}

.card-footer {
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
}

@media only screen and (max-width: 575px) {
  .card.mr-0.criatura-card {
    height: 730px;
  }
  .w100 audio {
    width: 100%;
    margin-bottom: 25px;
}
}


.header-album div {
    display: inline-block;
}

.header-album div h4 {
    font-size: xx-large;
    font-weight: 300;
}

.header-album div span{
  font-size: small;
  color: #B23939;
  font-weight: 700;
  display: block;
  padding: 10px 0 10px 0;
}


.header-album div a {
    color: black;
    font-size: medium;
    font-weight: 600;
    display: block;
    margin: 25px 0;
}

.infoalbum{
  margin-left:25px;
}

.info-album h4{
  margin-top:25px;
}

.header-pao{
    width: 100%;
  }

  .header-pao div img {
      width: 100%;
  }

  .footer-pao{
    width:100%;
  }
  .footer-pao img{
    width:100%;
  }
  .form-pao-pedra form {
      text-align: center;
      display: inline-grid;
      margin-bottom: 50px;
  }

  .form-pao-pedra form input {
      margin-bottom: 25px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-align: center;
      width: 300px;
      border: 2px solid grey;
  }

  .form-pao-pedra form button {
      background: none;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: end;
      text-decoration: underline;
      font-weight: 700;
  }

  .menu{
    text-align: center;
    background-color: #ffffff61;
    margin-bottom: 20px;
  }

  .menu ul li {
      text-decoration: none;
      list-style: none;
      display: inline-flex;
  }

  .menu ul li a {
    color: black;
    margin-right: 15px;
    font-size: large;
    text-transform: uppercase;
    margin-left: 15px;
  }

p.mb-1.mr-4 a {
    color: black;
}
p.mb-0 a {
    color: black;
}

.table-album tbody tr {
    color: black;
    font-size: larger;
}

button.btn-play {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
button.btn-play :active {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}
button.btn-pause {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    padding-left: 5px;
}
button.btn-pause :active {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
}

.btn-pause{
  display: none;
}

.letra {
    background-color: #BCD9DA;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    border-radius: 21px;
    font-size: small;
}

.letra-show p{
  font-family: "Andale Mono", AndaleMono, monospace;
  font-size: large;
  margin-bottom: 50px;
}


@media only screen and (max-width: 575px) {
.letra-show p{
  font-size: small;
}

    .menu ul li a {
      padding: 0px 5px 0 5px;
    }
    .header-album div {
      margin: 0;
      display: block;
    }
    .infoalbum{
      text-align: center;
      padding-top:25px;
    }
    .header-album div img {
      width: 100%;
  }
}
.standout{padding-bottom: 25px;}

.standout h4 {
    font-size: large;
}

.standout span{
  font-size:medium;
}

.standout a{
  text-decoration: none;
  color:black;
}

.musicplayer{
  width: 100%;
  margin-top: 25px;
}
.card-lyric h5{
  text-align: left;
}
.card-lyric h6{
  font-size:small;
  text-align: left;
}
.lyric{
  max-height:280px;
  overflow: hidden;
  border: 1px solid #8080803b;
  padding:5px;

}

.card-lyric p{
  font-size: smaller;
  font-family: "Andale Mono", AndaleMono, monospace;
}

.card:hover{
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.25);
}
